 h1 {
   margin: auto;
 }

body {
   background-image: url(./img/bluehome.jpg);
   background-repeat: no-repeat;
    background-size: cover;
}

card {
   position: relative;
}


 card-title {
  color: rgb(62, 146, 214) !important;
 }

 .movie {
  margin: 35px 0px;
 }

 .inner {
   margin: 0px 10px;
 }

@import url(https://fonts.googleapis.com/css?family=Open+Sans);

.container {
  max-width: 90%;
}

.search {
  width: 100%;
  position: relative;
  display: flex;
  top: 50px;
}

.searchTerm {
  width: 100%;
  border: 3px solid rgb(31, 68, 102);
  border-right: none;
  padding: 5px;
  height: 20px;
  border-radius: 5px 0 0 5px;
  outline: none;
  color: white;
  /* color:rgb(31, 68, 102); */
}

.searchTerm:focus{
  color: white;
  /* color: rgb(31, 68, 102); */
}

.searchButton {
  width: 40px;
  height: 36px;
  border: 1px solid rgb(31, 68, 102);
  background: rgb(31, 68, 102);
  text-align: center;
  color: #fff;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  font-size: 20px;
}

/*Resize the wrap to see the search bar change!*/
.wrap{
  width: 30%;
  position: relative;
  top: 50%;
  left: 50%;

  transform: translate(-50%, -50%); 
}

body{
  background-image: url("https://image.freepik.com/free-photo/vintage-cinema-videocamera_23-2148133572.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.main-page{
  display: block;
}

.parentForm{
  margin-top: 100px;
  margin-right: 100px;
}

.formLogin{
  box-shadow: 10px;
  border-radius: 25px;
  border: 2px solid white;
  color: white;
  width: 30%;
  float: right;
}

#googleButton{
  border-radius: 25px;
  margin-top: 10px;
}

.left-side{
  margin-left: 50px;
  display: block;
  float: left;
}

.right-side{
  display: block;
}

.desc{
  width: 700px;
}

#description{
  margin-left: 10px;
  width: 550px;
  font-family: 'EB Garamond', serif;
  color: white;
  text-shadow: 1px 1px;
  font-size: 50px;
  font-style: bold;
}

#title{
  font-size: 120px;
  color: #EEFF41;
  text-shadow: 2px 2px;
}

.google {
  background-color: #dd4b39;
  color: white;
}

#map {
  height: 300px;
  width: 50%;
  background-color: grey;
  margin: 0px auto;

}

.btn {
  margin: 0px auto;
}
