body{
  background-image: url("https://image.freepik.com/free-photo/vintage-cinema-videocamera_23-2148133572.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.main-page{
  display: block;
}

.parentForm{
  margin-top: 100px;
  margin-right: 100px;
}

.formLogin{
  box-shadow: 10px;
  border-radius: 25px;
  border: 2px solid white;
  color: white;
  width: 30%;
  float: right;
}

#googleButton{
  border-radius: 25px;
  margin-top: 10px;
}

.left-side{
  margin-left: 50px;
  display: block;
  float: left;
}

.right-side{
  display: block;
}

.desc{
  width: 700px;
}

#description{
  margin-left: 40px;
  font-family: 'EB Garamond', serif;
  color: white;
  text-shadow: 1px 1px;
  font-size: 50px;
  font-style: bold;
}

#title{
  font-size: 150px;
  color: #EEFF41;
  text-shadow: 2px 2px;
}

.google {
  background-color: #dd4b39;
  color: white;
}